<ion-header>
  <ion-toolbar>
    <ion-title>
      NBA Teams
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-list>
          <ion-item *ngFor="let team of loadedTeams; index as i">
            <ion-thumbnail slot="start" class="pictures">
              <img src="{{team.image}}">
            </ion-thumbnail>
            <ion-label class="centered-label">
              <h2>{{i+1}}. {{team.name}}</h2>
              <p>Location: {{team.location}} | Division: {{team.division}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

